{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Goods Guru | Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body>
  <div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  {% include 'inventory/sidebar.html' %}
  <div class="main-wrapper">
    <!-- ! Main nav -->
    {% include 'inventory/main_nav.html' %}
    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title">{{ main_title }}</h2>
        {% include 'inventory/stats_cards.html' %}
        <div class="row">
         {% block partialContent %}

         {% endblock %}

        </div>
      </div>
    </main>
    <!-- ! Footer -->
    {% include 'inventory/footer.html' %}
  </div>
</div>
<!-- Chart library -->
<script src="{% static 'plugins/chart.min.js' %}"></script>
<!-- Icons library -->
<script src="{% static 'plugins/feather.min.js' %}"></script>
<!-- Custom scripts -->
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>