<!-- inventory/make_sale_form.html -->
<div class="modal fade" id="makeSaleModal" tabindex="-1" aria-labelledby="makeSaleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="makeSaleModalLabel">Add A product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mt-2">Add Product</button>
                </form>
            </div>
        </div>
    </div>
</div>
