{% load custom_filters %}
{% load static %}
<div class="col-lg-9">
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal"
           data-bs-target="#makeSaleModal"><i
                class="fas fa-plus fa-sm text-white-50"></i> Add A Product</a>
    </div>
{% include 'inventory/make_product_modal.html' %}
    <div class="users-table table-wrapper">
        <table class="posts-table">
            <thead>
            <tr class="users-table-info">
                <th>Product</th>
                <th>product Supervisor</th>
                <th>Category</th>
                <th>Selling Price</th>
                {% if request.user.is_superuser %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        {{ product.name }}
                    </td>
                    <td>
                        <div class="pages-table-img">
                            {{ product.responsible_user.get_full_name }}
                        </div>
                    </td>

                    <td>
                        {{ product.category }}
                    </td>

                    <td>KES. {{ product.selling_price }}</td>
                    {% if request.user.is_superuser %}
                        <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">

                          <i data-feather="delete" aria-hidden="true"></i>
                        </button>

                      </span>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
</div>