{% load custom_filters %}
{% load static %}
<div class="col-lg-9">
    <div class="users-table table-wrapper">
        <table class="posts-table">
            <thead>
            <tr class="users-table-info">
                <th>Product</th>
                <th>product Supervisor</th>
                <th>Status</th>
                <th>Expiry</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for stock_item in stock %}
                <tr>
                    <td>
                        {{ stock_item.product.name }}
                    </td>
                    <td>
                        <div class="pages-table-img">
                            <picture>
                                <source srcset="{% static '/img/avatar/avatar-face-04.webp' %}" type="image/webp">
                                <img src="{% static '/img/avatar/avatar-face-04.png' %}"
                                     alt="{{ stock_item.product.first_name }}"></picture>
                            {{ stock_item.product.responsible_user.get_full_name }}
                        </div>
                    </td>
                    <td>
                        {% if stock_item.is_low_stock %}
                            <span class="badge-warning p-2">Low stock ~ {{ product_quantities|get_item:stock_item.product.name|default:"N/A" }}</span>
                        {% else %}
                            <span class="badge-success p-2">Available~ {{ product_quantities|get_item:stock_item.product.name|default:"N/A" }}</span>
                            </td>
                        {% endif %}

                    <td>{{ stock_item.product.expiration_date }}</td>
                    {% if request.user.is_superuser %}
                        <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">

                          <i data-feather="delete" aria-hidden="true"></i>
                        </button>

                      </span>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
</div>