{% extends 'inventory/home_partial.html' %}

{% block partialContent %}

    <div class="col-lg-9">
{#    make sales button #}
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Sales Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal"
           data-bs-target="#makeSaleModal"><i
                class="fas fa-plus fa-sm text-white-50"></i> Add Sale</a>
    </div>
        {% include 'inventory/make_sale_modal.html' %}

        <div class="users-table table-wrapper">
            <table class="posts-table">
                <thead>
                <tr class="users-table-info">
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Sale Date</th>
                    {% if request.user.is_superuser %}
                        <th>Action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for sale in sales %}
                    <tr>
                        <td>
                            {{ sale.product.name }}
                        </td>
                        <td>{{ sale.quantity }}</td>
                        <td>{{ sale.selling_price }}</td>

                        <td>{{ sale.sale_date }}</td>
                        {% if request.user.is_superuser %}
                            <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">

                          <i data-feather="delete" aria-hidden="true"></i>
                        </button>

                      </span>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>

     {% include 'inventory/recent_actions.html' %}

{% endblock %}